
.userProfileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: transparent;
    cursor: pointer;
}
.profileImage > img {
    height: 100%;
}

.profileName {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    margin: 3px;
}

.profileEmail {
    color: #767676;
    font-weight: 400;
    font-size: 14px;
    margin: 8px 3px;
}

.profileFollows {
    display: flex;
    margin: 3px;
    font-weight: 600;
    font-size: 16px;
}

.profileFollows > p {
    margin: 0 2px;
}

.profileButtons {
    display: flex;
    margin: 8px;
}

.profileButtons > * {
    display: flex;
    color: #111111;
    background-color: #EFEFEF;
    height: 48px;
    margin: 3px;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.shareDropdownMenu {
    width: 75px;
    border: none;
    padding: 0;
}

.shareDropdownMenu:hover {
    background-color: #E2E2E2;
}

.renderEditButton {
    width: 114px;
}

.renderEditButton:hover {
    background-color: #E2E2E2;
}

.helpContainer {
    display: flex;
    width: 100%;
    justify-content: right;
}

.helpIcon {
    display: flex;
    width: 48px;
    height: 48px;
    margin: 16px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.profilePicModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E2E2E2;
    width: 500px;
    height: 400px;
    padding: 32px;
    border-radius: 32px;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
}

.profilePicModal > img {
    height: 300px;
    width: auto;
    border-radius: 16px;
}

.profilePicModal > div {
    font-weight: 600;
    font-size: 24px;
    padding: 32px;
}

/* .renderEditButton shrink on click */