
.signupFormButton {
    background-color: #EFEFEF;
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signupFormButton:hover {
    background-color: #E2E2E2;
}

.signupFormButtonText {
    display: block;
    text-align: center;
    font-weight: bold;
}

.signupModal {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    height: 596px;
    width: 464px;
    margin: 0 auto;
    border-radius: 32px;
    padding: 20px 10px 24px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
    opacity: 1;
}

.tagline {
    margin-top: 16px;
    color: #111111;
    font-weight: 400;
    font-size: 16px;
}

.signupForm {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.signupForm > label {
    color: #111111;
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    padding-bottom: 3px;
    cursor: pointer;
}

.signupForm > input {
    background-color: #E8F0FE;
    height: 28px;
    width: 232px;
    font-size: medium;
    border: 2px solid lightgray;
    border-radius: 16px;
    padding:8px 16px;
}

.signupForm > input:hover {
    border-color: #A5A5A5;
}

.signupForm > input:focus {
    box-shadow: 0 0 0 4px rgb(0 132 255 / 50%);
    outline: none;
}

.signupButton {
    height: 32px;
    width: 252px;
    border: none;
    border-radius: 16px;
    margin: 2%;
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: #E60023;
}
