
.signupFormButton {
    background-color: #EFEFEF;
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    width: 80px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signupFormButton:hover {
    background-color: #E2E2E2;
}

.signupFormButtonText {
    display: block;
    text-align: center;
    font-weight: bold;
}

.signupModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10% 25%;
    border: 3px solid black;
    border-radius: 16px;
    padding: 5%;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    background-color: white;
}

.welcome {
    font-weight: 800;
    font-size: 150%;
}

.signupForm {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

label:first-child {
    margin-top: 10%;
}

.signupForm > label {
    font-size: small;
    padding-left: 8px;
    padding-bottom: 3px;
}

.signupForm > input {
    background-color: #E8F0FE;
    height: 32px;
    width: 268px;
    font-size: medium;
    border: 2px solid lightgray;
    border-radius: 16px;
    padding:8px 16px;
}

.button {
    border: none;
    border-radius: 16px;
    margin: 2%;
    height: 30px;
    cursor: pointer;
}

.signup {
    color: white;
    background-color: #E60023;
}

.demo {
    color: white;
    background-color: #4267B2;
}

.renderErrors {
    color: #CC0000;
    display: flex;
    font-size: small;
    margin: 4px;
    text-align: center;
}

.renderErrors > i {
    margin: 4px;
}