
.editPageContainer {
    display: flex;
    padding-top: 50px;
}

.sideBar {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 20px;
}

.sideBar > button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}

.editFormContainer {
    display: flex;
    flex-direction: column;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.photoEditBox {
    display: flex;
}

.photoEditBox > div {
    border-radius: 50%;
}

.nameEditContainer {
    display: flex;
}

.nameEditInput {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 400;
    font-size: 12px;
    padding: 16px 0 8px;
}

.input {
    border: 2px solid #CDCDCD;
    border-radius: 16px;
    padding: 8px 16px;
    margin-right: 8px;
    font-size: 16px;
    resize: none;
}

.input:hover {
    border-color: #A5A5A5;
}

.input:focus {
    border-color: #CDCDCD;
    box-shadow: 0 0 0 4px rgb(0 132 255 / 50%);
    outline: 0;
}

.editButtonContainer {
    display: flex;
    justify-content: end;
}

.editButtonContainer > button {
    height: 48px;
    width: 82px;
    border: none;
    border-radius: 32px;
    margin-top: 16px;
    margin-right: 20px;
    cursor: pointer;
    color: #767676;
    font-weight: 600;
    font-size: 16px;
}