
.splashContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}

.splashContainer > h1 {
    font-weight: 600;
    font-size: 60px;
}