
.pinShowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    margin: 48px auto;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
}

.horizontal {
    flex-direction: row;
    width: 800px;
    height: auto;
}

.vertical {
    flex-direction: column;
    height: auto;
    width: 500px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border-radius: 32px;
    overflow: hidden;
}

.imageContainer > img {
    width: 100%;
    height: auto;
}

.pinShowDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 32px;
}

.boardSave {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boardSave > div {
    cursor: pointer;
}

.boardSave > button {
    background-color: #E60023;
    color: white;
    border: none;
    border-radius: 24px;
    height: 48px;
    width: 80px;
    cursor: pointer;
}

.boardSave > button:hover {
    background-color: #AD081B;
}

.pinShowDetails > h1 {
    font-weight: 600;
    font-size: 28px;
    margin: 20px 0;
}

.pinShowDetails > p {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px;
}