
.commentBox {
   overflow: scroll;
   height: 240px;
   padding-right: 16px;
}

.commentItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commentItemContainer > button {
    border-radius: 50%;
    border: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.commentIndexItem {
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0 8px;
}

.commentIndexItem > img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 6px;
}

.commentIndexItem > h3 {
    font-weight: 600;
    font-size: 14px;
    margin-right: 6px;
}

.commentIndexItem > p {
    font-weight: 400;
    font-size: 14px;
}