
.navContainer {
    font-weight: 400;
    padding: 16px;
    height: 80px;
    width: 100vw;
    margin-right: 0;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px
}

.rightNav {
    display: flex;
    justify-content: space-evenly;
}

.externalLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 24px;
    width: 240px;
}

.externalLink {
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.externalLink:hover {
    text-decoration: underline;
}

.logoNavLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    margin-left: 24px;
    text-decoration: none;
}

.logoNavLink > img {
    height: 100%;
    width: auto;
}

.logoNavLink > h1 {
    color: #E60023;
    font-weight: 600;
    font-size: 16px;
}

.homeNavLink {
    color: white;
    background-color: black;
    padding: 0 16px;
    border: none;
    border-radius: 32px;
    margin: 1%;
    height: 48px;
    width: 60px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.homeNavLink:hover {
    background-color: #E60023;
}

.homeNavLink > p {
    margin: 16px 0;
    display: block;
    text-justify: center;
    text-align: center;
}

.aboutNav {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 32px;
    height: 48px;
    width: 60px;
}

.aboutNav:hover {
    background-color: #E9E9E9;
}

.createDropdownContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 32px;
    height: 48px;
}

.createDropdownContainer:hover {
    background-color: #E9E9E9;
}

.createDropdownContainer > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.createDropdownContainer {
    display: flex;
    position: relative;
    cursor: pointer;
}

.createMenu {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
    top: 35px;
    left: -20px;
    z-index: 2;
    padding: 8px;
    border-radius: 16px;
    width: 150px;
    font-weight: 600;
    font-size: 16px;
}

.createMenu > div {
    padding: 8px;
    border-radius: 8px;
}

.createMenu > div:hover {
    background-color: #E9E9E9;
}

.searchContainer {
    padding: 0 8px;
    width: 45%;
}

.searchBar { 
    background-color: #EFEFEF;
    padding-left: 16px;
    border-radius: 32px;
    height: 48px;
    width: auto;
    display: flex;
    align-items: center;
}

.searchBar:hover {
    background-color: #E9E9E9;
}

.searchBar:focus-within {
    box-shadow: 0 0 0 4px rgb(0 132 255 / 50%);
    background-color: #E9E9E9;
}

.searchBar > input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 4px;
}

.searchBar > input:focus {
    outline: 0;
}

.navIcon {
    display: flex;
    color: #767676;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.navIcon > i {
    display: block;
    height: 24px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    text-justify: center;
}

.navIcon:hover {
    background-color: #E9E9E9;
}

.profileNavPicContainerOuter {
    border: 2px solid rgb(17, 17, 17);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.profileNavPicContainerInner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5px;
    border: 1px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.profileNavPicContainerInner > img {
    height: 100%;
    width: auto;
}

.profileDropDown {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    cursor: pointer;
}

.profileDropDown:hover {
    background-color: #EFEFEF;
}

.navTooltip {
    position: absolute;
    background-color: black;
    color: white;
    z-index: 1;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px;
    top: 9%;
}

.navNotifications {
    left: 79.75%;
    
}

.navGithub {
    left: 85.25%;
}

.navGithub:hover {
    background-color: #E9E9E9;
}

.navProfile{
    left: 90%;
}

.navAccount {
    left: 92%;
    margin-right: .1%;
}