
.navContainer {
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
    font-weight: 400;
    padding: 16px;
    height: 80px;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 56px
}

.rightNav {
    display: flex;
    justify-content: space-evenly;
}

.externalLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 24px;
    width: 240px;
}

.externalLink {
    color: black;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.externalLink:hover {
    text-decoration: underline;
}

.homeNavLink {
    color: white;
    background-color: black;
    padding: 0 16px;
    border: none;
    border-radius: 32px;
    margin: 1%;
    height: 48px;
    width: 60px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.homeNavLink > p {
    margin: 16px 0;
    display: block;
    text-justify: center;
    text-align: center;
}

.todayNavLink {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0 16px;
}

.createDropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
}

.createDropdown > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.searchContainer {
    padding: 0 8px;
    width: 45%;
}

.searchBar { 
    background-color: #EFEFEF;
    padding-left: 16px;
    border-radius: 32px;
    height: 48px;
    width: auto;
    display: flex;
    align-items: center;
}

.searchBar:hover {
    background-color: #E9E9E9;
}

.searchBar:focus-within {
    box-shadow: 0 0 0 4px rgb(0 132 255 / 50%);
    background-color: #E9E9E9;
}

.searchBar > input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 4px;
}

.searchBar > input:focus {
    outline: 0;
}

.navIcon {
    display: flex;
    color: #767676;
    height: 48px;
    width: 48px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.navIcon > i {
    display: block;
    height: 24px;
    width: 24px;
    font-size: 24px;
    text-align: center;
    text-justify: center;
}

.navIcon:hover {
    background-color: #E9E9E9;
}

.profileDropDown {
    background-color: transparent;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 100%;
    cursor: pointer;
}

.profileDropDown:hover {
    background-color: #EFEFEF;
}

.navNotifications {
    position: absolute;
    background-color: black;
    color: white;
    z-index: 1;
    left: 80%;
    top: 8%;
    font-size: 12px;
    border-radius: 8px;
    padding: 8px;
}
