
.loginFormButton {
    color: white;
    background-color: #E60023;
    padding: 8px 12px;
    border: none;
    border-radius: 32px;
    margin-right: 10px;
    width: 70px;
    height: 40px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.loginFormButton:hover {
    background-color: #AD081B;
}

.loginFormButtonText {
    display: block;
    text-align: center;
    font-weight: bold;
}


.loginModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 10% 25%;
    border: 3px solid black;
    border-radius: 16px;
    padding: 5%;
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

.buttonBox {
    position: absolute;
    right: 16%;
    top: 16%
}

.xButton {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

.xButton:hover {
    background-color: #EFEFEF;
}

.welcome {
    font-weight: 800;
    font-size: 150%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

label:first-child {
    margin-top: 10%;
}

.loginForm > input {
    background-color: #E8F0FE;
    height: 30px;
    width: 200px;
    margin-top: 1%;
    margin-bottom: 5%;
    border: 2px solid lightgray;
    border-radius: 16px;
    padding: 1% 5%;
}

.finePrint {
    font-size: 75%;
    align-self: center;
}

.button {
    border: none;
    border-radius: 16px;
    margin: 2%;
    height: 30px;
}

.login {
    color: white;
    background-color: #E60023;
}

.demo {
    color: white;
    background-color: #4267B2;
}